<p>
  <strong>Author:</strong>
  <%= @entry.author %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @entry.photo_url %>
</p>

<p>
  <strong>Date:</strong>
  <%= @entry.date_taken %>
</p>

<%= link_to 'All Entries', entries_path %>
