/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
   margin:2em;
 }
.image img{
  height:50%;
  width:50%;
}
.container{
  margin:1.5em 0em;
}
.show img{
  height:75%;
  width:75%;
  margin-bottom:1em;
}
.created_at{
  font-style: italic;
}
.show a, header a{
  padding: 10px;
  border: 1px solid black;
  margin-right:0.8em;
}
a, a:visited, a:hover{
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 1em;
  color:black;

}
