// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


img {
  width:20vw;
}

div {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  width: 20vw;
  margin: 1em;
}
